@media all and (max-width:400px) {
  .con-img {
    width: 500px;
  }
  .con-img img {
    width: 100%;
  }
  .exhibition-inner {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
  }
  .work {
    width: 170px;
    float: left;
    margin-bottom: 50px;
  }
}