@media all and (max-width: 567px) {
  /* header  */
  header {
    height: 60px;
  }
  /* toggle menu  */
  .mobile_box {
    display: none;
  }
  .mobile_box::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(../img/slide01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  .mobile_box {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #303ab2;
    z-index: 9;
    display: none;
  }
  .tab_logo2 {
    position: absolute;
    left: 50%;
    margin-left: -55px;
    margin-top: 25px;
  }
  .close_btn {
    position: absolute;
    top: 27px;
    left: 36px;
  }
  .mobile_menu {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 30px;
    transition-duration: 0.5s;
  }
  .mobile_menu li {
    padding-bottom: 20px;
  }
  .mobile_menu a {
    color: #fff;
  }
  .logo2 img {
    width: 100%;
  }
  .in_header {
    width: 95%;
    line-height: 60px;
  }
  .tab_logo {
    width: 90px;
    top: 17.5px;
  }
  .tab_logo img {
    width: 100%;
  }
  .toggle {
    width: 25px;
    height: 20px;
    margin-top: 16px;
  }
  .line {
    margin-top: 4px;
  }
  .tab_join {
    font-size: 13px;
  }
  .arrow2 {
    padding-top: 27px;
  }
  .bg {
    height: 60px;
  }
  /* section1 : main_slider */
  .title_wrap {
    left: 50%;
    margin-left: -164px;
  }
  .title_wrap h1 {
    font-size: 30px;
  }
  .title_wrap p {
    font-size: 16px;
  }
  .slide_tab {
    top: 54%;
    margin-left: -9%;
  }
  .tab {
    width: 10px;
    height: 10px;
  }
  .btn {
    width: 150px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  .scroll {
    display: none;
  }
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: absolute !important;
    top: 50% !important;
    z-index: 9 !important;
    left: 50% !important;
    margin-left: -30px !important;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
  }
  /* section2 : brand_story  */
  .img_box_tab {
    width: 260px;
    height: 230px;
  }
  .born {
    font-size: 30px;
  }
  .text_box h2 {
    font-size: 14px;
  }
  .text_box h1:last-child {
    font-size: 20px;
  }
  /* section3 : join_us  */
  .title .table {
    font-size: 30px;
  }
  .title p {
    font-size: 12px;
  }
  .title h3 {
    font-size: 16px;
    padding-top: 0;
  }
  .tab_img_wrap img {
    margin: 0 auto;
    width: 90px;
  }
  .text p {
    font-size: 20px;
  }
  .small {
    font-size: 14px;
  }
  /* section4 : material */
  .con_title h2 {
    font-size: 30px;
  }
  .con_title p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .mater2 {
    display: block;
    width: 100%;
  }
  .mabox_t {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mabox1_t {
    background-image: url(../img/mo_ma1.JPG);
  }
  .mabox2_t {
    background-image: url(../img/mo_ma2.JPG);
  }
  .mabox3_t {
    background-image: url(../img/mo_ma3..jpg);
    margin-right: 0;
  }
  .ma_text_t {
    padding-top: 20px;
    text-align: left;
    left: 0;
    top: 0;
    margin-left: 20px
  }
  .ma_text_t h3 {
    font-size: 22px;
  }
  .ma_text_t p {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .ma_button {
    height: 35px;
    line-height: 35px;
    margin-top: 0;
  }
  /* section5 : best_product */
  .section_5 .container {
    overflow: hidden;
    height: 550px;
    position: relative;
    width: 90%;
  }
  .tab_se_5_slide {
    width: 95%;
    padding-left: 0;
    margin: 0 auto;
  }
  .se_5_slide_wrap {
    width: 200%;
  }
  .se_5_wrap {
    width: 50%;
    margin-right: 0;
  }
  .se_5_bx {
    height: 300px;
  }
  .se_5_bx img {
    width: 300px;
  }
  .slide_line {
    position: relative;
    top: 420px;
    left: 18%;
  }
  .back {
    width: 70%;
  }
  .best_arrow {
    position: absolute;
    top: 40%;
    right: 0;
  }
  .best_arrow_mo {
    position: absolute;
    top: 40%;
  }
  /* section_5 end */
  /* section6 : collection */
  .ta {
    display: none;
  }
  .mo {
    display: block;
  }
  .section_4,
  .section_5,
  .section_6 {
    margin-top: 20%;
  }
  .mater {
    height: auto;
  }
  .se_6_text {
    padding-top: 20%;
  }
  .se_6_text h2 {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .se_6_text p {
    font-size: 15px;
    padding-bottom: 40px;
  }
  .se_6_text .mo {
    padding-bottom: 20px;
  }
  .se_6_button {
    font-size: 14px;
    width: 130px;
    height: 30px;
    line-height: 30px;
  }
  .se_6_img {
    display: none;
  }
  .se_6_img_mo {
    display: block;
  }
  .tab_se_6_slide {
    width: 90%;
  }
  .se_6_left {
    width: 100%;
    margin: 0 auto;
  }
  .se_6_right {
    width: 100%;
    float: none;
  }
  .se_6_left_arrow {
    top: 32%;
  }
  .se_6_right_arrow {
    top: 32%;
  }
  .se_6_tex t {
    padding-top: 0;
    padding-left: 0;
  }
  .se_6_img_mo {
    width: 100%;
    padding-bottom: 15px;
  }
  .se_6_img_mo img {
    width: 100%;
  }
  /* section_6 end */
  /* section7 : process*/
  .video_box {
    height: 250px;
  }
  .title {
    padding-bottom: 30px;
  }
  /* section_7 end */
  /* section8 : luxury */
  .section_8 .container {
    padding-top: 30px;
  }
  .se_8_bg {
    height: 260px;
  }
  .se_8_contents {
    height: 200px;
  }
  .section_8 .con_title p {
    margin-bottom: 20px;
  }
  .mark {
    display: none;
  }
  .mark2 {
    display: block;
    position: absolute;
    top: 160px;
    right: 10px;
    animation: rotate 9s infinite linear;
  }
  .se_8_btn {
    width: 150px;
    margin-bottom: 20px;
  }
  /* section_7 end */
  /* section9 : news */
  .section_9 .container {
    position: relative;
  }
  .se_9 {
    display: none;
  }
  .mo_se_9 {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .se_9_wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .se_9_img_wrap {
    width: 200%;
  }
  .se_9_box {
    width: 50%;
    float: left;
  }
  .se_9_box img {
    width: 100%;
    height: 300px;
  }
  .se_9_left {
    position: absolute;
    top: 50%;
  }
  .se_9_right {
    position: absolute;
    top: 50%;
    right: 0;
  }
  .se_9_text {
    text-align: center;
    padding-top: 25px;
  }
  /* section_9 end / */
  /* footer */
  .footer_menu {
    width: 100%;
    font-size: 13px;
    text-align: left;
  }
  footer {
    height: 750px;
  }
  .adress {
    text-align: left;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .copyright {
    text-align: left;
    font-size: 12px;
  }
  .footer_menu {
    padding-bottom: 40px;
  }
  .footer_menu li {
    float: left;
    width: auto;
    margin-right: 10%;
  }
  .footer_sns {
    margin: 0;
  }
  .footer_sns img {
    display: block;
    width: 20px;
  }
  .mySwiper5 .swiper-button-next {
    color: #fff !important;
  }
  .mySwiper5 .swiper-button-prev {
    color: #fff !important;
  }
}