@media all and (max-width: 840px) {
  /* mobile menu  */
  .mo_box_icon_wrap {
    width: 20%;
    padding-left: 30px;
    padding-top: 50px;
  }
  /* section_2  */
  .se_2_title_wrap {
    width: 35%;
    float: left;
    margin-left: 0;
    padding-bottom: 10%;
  }
  .se_2_title_wrap p {
    font-size: 14px;
  }
  .se_2_title_wrap .btn {
    font-size: 15px;
  }
  /* section_4  */
  .se_4_title_wrap p {
    font-size: 14px;
  }
  .se_4_title_wrap {
    width: 35%;
    margin-left: 1%;
  }
  .se4_contents_wrap {
    width: 60%;
    float: right;
    margin-right: 0;
  }
  /* section_6  */
  .right_img_tab {
    width: 70%;
  }
  .right_img_tab img {
    width: 100%;
  }
  .left_text h1 {
    font-size: 45px;
  }
  .story_tab {
    position: absolute;
    bottom: 50px;
  }
  .contents_wrap {
    width: 60%;
  }
  /* section_6 end  */
}